<%= link_to 'New allergen', new_allergen_path %>


<%= javascript_include_tag 'jquery.tablednd' %>
 <% form_tag :controller => :allergens, :action => :update_order do %>
  <table id="table-1" style= background-color: #777; height: 20px;" border="1" cellpadding="1" cellspacing="1">
    <tr class="nodrop nodrag">
        <th width="20%">Name</th>
        <th width="10%">&nbsp</th>
        <th width="10%">&nbsp</th>
        <th width="10%">&nbsp</th>
    </tr>
      <% @allergens.each do |allergen| %>
      <tr>
        <%= hidden_field_tag("index[]", allergen.id.to_i, :class=>'song') -%>
        <td><%=h allergen.name %></td>
        <td><%= link_to 'Show', allergen %></td>
        <td><%= link_to 'Edit', edit_allergen_path(allergen) %></td>
        <td><%= link_to 'Destroy', allergen, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
      <% end %>
    </table>
  
  <%= submit_tag "Set Order", :name => "submit" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      // Initialise the table
      $("#table-1").tableDnD({
        onDragClass: "cssNoDay1"
      });
  });
  </script>