<h1>New Item Spec</h1>

<% form_for @nutritional, :html => { :multipart => true } do |f| %>

  <%= f.error_messages %>

  <p>
    Item Name<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Item Code Number<br />
    <%= f.text_field :codenum %>
  </p>
  <p>
    <%= f.file_field :attachment %>
  </p>
  <p>
    Search Terms<br />
    <%= f.text_area :search %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  <%= f.hidden_field :foodvendor_id, :value => @nutritional.foodvendor_id %>
<% end %>
<br>
<%= link_to 'Back', @nutritional.foodvendor %>
