<table cellpadding="0" cellspacing="0" border="0" class="display" id="table-2">
  <thead>
    <tr>
      <th class="GradeA">Name</th>
      <th class="GradeA">Description</th>
      <th class="GradeA">File Name</th>
      <th class="GradeA">File</th>
      <th class="GradeA">Last Updated</th>
      <% if Goldberg.user.administrator? %>
      <th class="GradeA">Edit</th>
      <th class="GradeA">DELETE?</th>
      <% end %>
    </tr>
  </thead>
  <% worksheets.each do |worksheet| %>
  <tr>
    <td><%=h worksheet.name %></th>
    <td><%=h worksheet.description %></td>
    <td><%=h worksheet.sheet_file_name %></td>
    <td><%= link_to "Get File", worksheet.sheet.url %></td>
    <td><%= worksheet.sheet_updated_at - 8.hours %></td>
    <% if Goldberg.user.administrator? %>
    <td><%= link_to 'Edit', edit_worksheet_path(worksheet) %></td>
    <td><%= link_to 'Destroy', { :controller => 'worksheets', :action => 'destroy', :id => worksheet }, :confirm => 'Are you sure?', :method => 'delete' %></td>
    <% end %>
  </tr>
  <% end %>
</table>