<h1>New Worksheet</h1>

<% form_for @worksheet, :html => { :multipart => true } do |f| %>

  <%= f.error_messages %>

  <p>
    Name<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Description<br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.file_field :sheet %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<br>
<%= link_to 'Back', worksheets_url %>