<h1>Edit settings</h1>

<p> Current Site:&nbsp;<%= display_site(Goldberg.user) %> </p>

<% form_tag :action => 'update' do%>
  <p><%= collection_select :setting, :site_id, @sites, :id, :name %></p>

<p>Current Track:&nbsp;<%= display_track(Goldberg.user) %></p>
  <p><%= collection_select :setting, :track_id, @tracks, :id, :name %></p>
  
  <%= submit_tag "Update" %>
<% end %>