<h1>Editing usage</h1>

<% form_for(@usage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @usage %> |
<%= link_to 'Back', usages_path %>
