<h1>Listing Weekly Order Requests</h1>

<%= will_paginate @weeks %>
<br />
<div id="accordion">
<%= render :partial => 'weeks', :locals => { :weeks => @weeks, :sitetypes => @sitetypes, :weeklyorderreqs => @weeklyorderreqs} %>
</div>

<br />

<%= link_to 'Start New Order Request', "weeklyorderreqs/start" %>
<br><br>

<p>
  The Following Convenience Buttons will start a request one week after the last week in the system.<br>
  If you need to fill in a missing week or skip a week use the above link.
</P>

<% for sitetype in Sitetype.all_with_days %>
  <% form_tag :controller=>'weeklyorderreqs', :action=>'new' do -%>
      <%= hidden_field :weeklyorderreq, :sitetype_id, :value=>sitetype.id %>
      <%= hidden_field :weeklyorderreq, :week, :value=> Weeklyorderreq.find_by_sitetype_id(sitetype.id, :order=>"week DESC").week + 1.week %>
      <p><%= submit_tag "Next #{sitetype.name}" %> </p>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("#accordion").accordion({ header: "h3" });
  $("#accordion").accordion('activate' , <%= (@weeks.index(Date.today.monday)).to_i -%>);
});
</script>

