<p>
  <b>Name:</b>
  <%=h @company.name %>
</p>

<p>
  <b>Contact:</b>
  <%=h @company.contact %>
</p>

<p>
  <b>Addr1:</b>
  <%=h @company.addr1 %>
</p>

<p>
  <b>Addr2:</b>
  <%=h @company.addr2 %>
</p>

<p>
  <b>City:</b>
  <%=h @company.city %>
</p>

<p>
  <b>St:</b>
  <%=h @company.st %>
</p>

<p>
  <b>Zip:</b>
  <%=h @company.zip %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @company.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @company.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @company.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @company.email %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>