<h1>Editing bidname</h1>

<% form_for(@bidname) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bidname %> |
<%= link_to 'Back', bidnames_path %>