<h1>Editing track_calendar</h1>

<% form_for(@track_calendar) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :track %><br />
    <%= collection_select :track_calendar, :track_id, Track.all, :id, :name, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= calendar_box 'track_calendar', :start%>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', track_calendars_path %>