<h1>New monthlyinv</h1>

<% form_for(@monthlyinv) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :monthlyinvreq %><br />
    <%= f.text_field :monthlyinvreq %>
  </p>
  <p>
    <%= f.label :site %><br />
    <%= f.text_field :site %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', monthlyinvs_path %>
