<h1>New site</h1>

<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :City %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :State %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :Zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :Phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :Manager %><br />
    <%= collection_select :site, :user_id, Goldberg::User.all, :id, :fullname, {:include_blank => true } %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= collection_select :site, :sitetype_id, Sitetype.all, :id, :name, {:include_blank => true } %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sites_path %>
