<p>
  <b>Monthlyinv:</b>
  <%=h @monthlyinvitem.monthlyinv %>
</p>

<p>
  <b>Item:</b>
  <%=h @monthlyinvitem.item %>
</p>

<p>
  <b>Qty:</b>
  <%=h @monthlyinvitem.qty %>
</p>


<%= link_to 'Edit', edit_monthlyinvitem_path(@monthlyinvitem) %> |
<%= link_to 'Back', monthlyinvitems_path %>
